.custom-navbar {
  height: 60px;
  line-height: 60px; /* Centra verticalmente los elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  /*  background-color: #64513D;   */
  z-index: 1030; /* Asegura que esté por encima de otros elementos */
  background: linear-gradient(90deg, #b2b2b1 150%, #b2b2b1 10%);
}

/*navbar #68583c*/
/* para tablas #F0E5D4 */
.navbar-brand {
  font-size: 22px; /* Tamaño más grande */
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px; /* Ajustar para móviles */
  }
}

body {
  padding-top: 60px; 
}

.navbar-nav .nav-item {
  margin-right: -10px; 
}

.navbar-nav .nav-item {
  margin-left:30px; 
}

.navbar-nav .nav-link {
  font-size: 17px;
  color:  #000000;
}

  .navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 3px solid #aaaaaa;
    color: #303030
  }


.dropdown .btn-outline-success {
  background-color: #d1d0d0;
  color: black;
  border-color: #555555;
}


  .dropdown .btn-outline-success:hover {
    background-color: #c9c6c6;
    border-color: #555555;
  }
 
