.container-listado {
  margin-top: 50px;
  margin-left: 240px;
  padding: 20px;
  display: block;
  background: #f8f9fa;
  border-radius: 10px;
  min-width: 80%;
  min-height: 100vh;
  background-color: rgba(128, 128, 128, 0.0);
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;
}

.table-container {
  margin-left: 65px;
  margin-right: 55px;
  
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1000;
}

.acciones {
  text-align: center;
  width: 100px;
}

.offcanvas {
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px; 
  width: 100%;
  transition: transform 0.3s ease-in-out;
}


.offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea todo el contenido a la izquierda */
  overflow-y: auto;
  position: relative;
  padding: 0;
}


.total-info {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px; 
  font-size: 20px;
  font-weight: bold;
  text-align: left; 
}

.subtotal-total div {
  margin: 5px 0;
  font-size: 22px;
  color: #000000;
}

.subtotal-total strong {
  font-size: 22px;
  color: #000000; 
}

.offcanvas-body .border {
  border: none !important;
}

.offcanvas-body .shadow-md {
  box-shadow: none !important;
}

