<app-sidebar-ventas class="sidebar"
                    (fechaSeleccionadaEvent)="filtrarPorFecha($event)"
                    (limpiarFiltroEvent)="onLimpiarFiltro()"
                    (medioPagoSeleccionadoEvent)="filtrarPorMedioPago($event)">
</app-sidebar-ventas>

<div class="container-listado">

  <div *ngIf="!cargando">
    
    <div class="table-container overflow-x-auto mt-3">

      <div class="flex justify-end">
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="page = 1" class="p-2 border border-gray-300 rounded bg-white text-gray-800 mb-2">
          <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
        </select>
      </div>
      <table class="table-auto w-full border border-gray-200 shadow-lg rounded-lg">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-2 text-left border-b">N° Venta</th>
            <th class="px-4 py-2 text-left border-b">Fecha</th>
            <th class="px-4 py-2 text-left border-b">Medio de pago</th>
            <th class="px-4 py-2 text-left border-b">Subtotal</th>
            <th class="px-4 py-2 text-left border-b">Total</th>
            <th class="px-4 py-2 text-left border-b">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <tr *ngFor="let venta of ventas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }" class="bg-white hover:bg-gray-50">
            <th class="px-4 py-2 border-b">{{ venta.id }}</th>
            <td class="px-4 py-2 border-b">{{ venta.fecha | date: 'dd/MM/yy HH:mm' }}</td>
            <td class="px-4 py-2 border-b">{{ venta.nombreMedioPago | capitalize  }}</td>
            <td class="px-4 py-2 border-b text-600 font-semibold">{{ venta.subtotal | currency }}</td>
            <td class="px-4 py-2 border-b text-green-600 font-semibold">{{ venta.total | currency }}</td>
            <td class="px-4 py-2 border-b">
              <div class="dropdown">
                <button class="bg-gray-500 text-white px-3 py-1 rounded-lg shadow-md hover:bg-gray-800 dropdown-toggle"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Opciones
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item hover:bg-gray-100 cursor-pointer"
                       data-bs-toggle="offcanvas" href="#offcanvas"
                       (click)="verDetalleVenta(venta.id)">Ver Detalle</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-red-600 hover:bg-gray-100 cursor-pointer"
                       (click)="BajaVenta(venta)">Anular Venta</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"
                           class="mt-4 flex justify-center"
                           previousLabel="Anterior"
                           nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" *ngIf="ventas">
  <div class="flex justify-between items-center px-4 pt-4">
    <div>
      <h2 class="text-xl font-bold">Venta #{{ venta.id }}</h2>
    </div>
    <div class="flex justify-between items-center">
      <div class="text-sm font-medium mr-3">
        {{ venta.fecha | date: 'dd/MM/yyyy HH:mm' }}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

  </div>


  <div class="px-4 py-2 pb-3 border-b">

    <div><strong>Medio de pago:</strong> {{ venta.nombreMedioPago }}</div>
    <div><strong>PedidosYa:</strong> {{ venta.esPedidosYa ? 'Sí' : 'No' }}</div>
    <div><strong>Local:</strong> {{ venta.local.nombre }}</div>
  </div>

  <div class="overflow-y-auto px-4 space-y-2 pb-2" style="max-height: calc(100vh - 60px - 180px);">
    <div *ngFor="let detalle of detalleVenta" class="flex gap-4 p-4 mt-1 border rounded-lg shadow-sm items-center">
      <img [src]=" 'https://localhost:5126' + detalle.imagen?.[0]?.url" class="w-24 h-24 object-cover rounded-md" alt="Imagen artículo">
      <div class="flex-1">
        <div class="text-m font-semibold text-gray-800">
          {{ detalle.nombreArticulo | capitalize}}
        </div>
        <div class="text-xs text-gray-500">
          {{ detalle.precioUnitario | currency }} x {{ detalle.cantidad }}
        </div>
      </div>
      <div class="text-right text-s">
        <div [ngClass]="{ 'line-through text-gray-400': detalle.precioUnitario - detalle.precioVenta != 0 }">
          {{ (detalle.precioUnitario * detalle.cantidad) | currency }}
        </div>
        <div *ngIf="detalle.precioUnitario - detalle.precioVenta != 0" class="text-green-600">
          {{ ((detalle.precioUnitario * detalle.cantidad) - ((detalle.precioUnitario - detalle.precioVenta) * detalle.cantidad)) | currency }}
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto border-t bg-white px-4 py-3">
    <div class="flex justify-between text-sm mb-1">
      <span>Subtotal:</span>
      <span>{{ venta.subtotal | currency }}</span>
    </div>
    <div class="flex justify-between text-sm mb-1">
      <span>Descuento:</span>
      <span>{{ venta.subtotal - venta.total | currency }}</span>
    </div>
    <div class="flex justify-between font-bold text-base">
      <span>Total:</span>
      <span>{{ venta.total | currency }}</span>
    </div>
  </div>
</div>
