.container-listado {
  margin-top: 60px;
  margin-left: 240px;
  padding: 20px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 280px);
  min-width: 80%;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;

}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1000;
}

.table-container {
  margin-top: 20px;
  overflow: visible;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: visible;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

  .table th, .table td {
    border: 1px solid #adadad;
    padding: 14px;
    text-align: left;
    font-size: 14px;
  }

  .table thead th {
    background-color: #adadad;
    color: white;
    text-transform: uppercase;
  }

  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tbody tr:hover {
    background-color: #d6e4ff;
  }

.acciones {
  text-align: center;
  width: 100px;
}

.offcanvas {
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px; 
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.offcanvas-header {
  background-color: #8f8e8e;
  color: white;
  padding: 15px;
}

.offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea todo el contenido a la izquierda */
  overflow-y: auto;
  position: relative;
  padding: 0;
}


.total-info {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px; 
  font-size: 20px;
  font-weight: bold;
  text-align: left; 
}

.subtotal-total div {
  margin: 5px 0;
  font-size: 22px;
  color: #000000;
}

.subtotal-total strong {
  font-size: 22px;
  color: #000000; 
}

.offcanvas-body .border {
  border: none !important;
}

.offcanvas-body .shadow-md {
  box-shadow: none !important;
}
