<!-- carrito-item.component.html -->
<div class="flex items-center bg-white rounded-xl shadow-lg p-2 h-21 mb-2 relative w-full">
  <!-- Botón Eliminar -->
  <button (click)="eliminarItem()" class="absolute top-1 right-1 text-black text-xs px-1 rounded">
    x
  </button>

  <!-- Imagen -->
  <img [src]="articulo.articulo.imagen[0].url" alt="{{ articulo.articulo.nombre }}"
       class="w-12 h-12 object-cover rounded-lg mr-2" />

  <!-- Detalles del Artículo -->
  <div class="flex-1">
    <h6 class="font-medium">{{ articulo.articulo.nombre }}</h6>
    <p class="text-gray-500 text-xs">{{ articulo.articulo.precio | currency }} x {{articulo.cantidad}}</p>
  </div>

  <!-- Total -->
  <div class="ml-auto font-medium text-gray-700">
    {{ (articulo.articulo.precio * articulo.cantidad / (pedidoYa ? 0.82 : 1)) | currency }}
  </div>

</div>
