/* Estructura general */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor con fondo */
.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/assets/images/login/loginhache.jpg') no-repeat center center/cover;
}

/* Caja del formulario */
.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Inputs estilizados */
.form-control {
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}

/* Botón estilizado */
.btn-primary {
  background-color: #a78059;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

  .btn-primary:hover {
    background-color: #7e6247;
  }

/* Responsividad */
@media (max-width: 768px) {
  .login-box {
    width: 90%;
  }
}
