
.contenedor-lista {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;
}

.lista-articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5%;
  margin-top: 100px;
  background-color: rgba(128, 128, 128, 0.0);
  width: 100%;
  max-width: 1200px;
  margin-left: 50px;
  margin-right: auto;
}


.contenedor-buscador-filtros {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px; 
  z-index: 100;
}


.buscador {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

  .buscador i {
    color: #aaa;
    margin-right: 6px;
    font-size: 14px;
  }

.input-buscador {
  width: 250px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

  .input-buscador::placeholder {
    color: #aaa;
    font-size: 14px;
  }


.contenedor-filtros {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

  .contenedor-filtros h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 8px;
  }

.dropdown-filtro {
  padding: 5px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 14px;
  cursor: pointer;
  background: white;
  outline: none; 
  box-shadow: none;
/*  appearance: none; */
}

