
.contenedor-lista {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;
}

.lista-articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5%;
  margin-top: 100px;
  background-color: rgba(128, 128, 128, 0.0);
  width: 100%;
  max-width: 1200px;
  margin-left: 50px;
  margin-right: auto;
}

.input-buscador {
  position: fixed;
  margin-top: 70px;
  margin-left: 70px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 40px;
  z-index: 100;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
