.container-listado {
  margin-top: 60px;
  margin-left: 240px;
  padding: 20px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 280px);
  min-width: 80%;
  min-height: 100vh;
}

.fondo-personalizado {
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  backdrop-filter: none;
}

.payment-button {
  width: 50%;
  background-color: #2563eb;
  color: #fff;
  padding: 6px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

  .payment-button:hover {
    background-color: #1e40af;
  }
