
/*.contenedor-lista {
  min-height: 1500px;
  margin-left: 270px;
  padding-top: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/backgrounds/fondo2.jpg');
  background-blend-mode: lighten;
  flex-direction: column;
  padding-bottom: 50px;
}

.lista-articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3%;
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.0);
  width: 90%;
  min-height: 500px;
}*/

.contenedor-lista {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.lista-articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 3%;
  margin-left: 270px;
  margin-top: 90px;
  background-color: #f1f1f1;
}

.input-buscador {
  position: fixed;
  margin-top: 70px;
  margin-left: 70px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 40px;
  z-index: 100;
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}



