<div class="container-listado">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Categoría</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Marca</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of articulos">
          <th scope="row">{{ articulo.categoria.nombre }}</th>
          <td>{{ articulo.nombre }}</td>
          <td>{{ articulo.precio | currency }}</td>
          <td>{{ articulo.marca.nombre }}</td>
          <td class="acciones">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                  <a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvas" (click)="abrirEdicion(articulo)">
                    Editar
                  </a>
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="BajaArticulo(articulo.id)">Borrar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Offcanvas para editar -->
<div *ngIf="mostrarCanvas" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Editar Artículo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="articuloForm">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>

      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" class="form-control" formControlName="precio">
      </div>

      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" formControlName="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Marca</label>
        <select class="form-select" formControlName="marca">
          <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-success" (click)="guardarCambios()">Guardar Cambios</button>
    </form>
  </div>
</div>

<!-- Mensaje de confirmación centrado sin oscurecer la pantalla -->
<div *ngIf="mostrarConfirmacion" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-500 text-white px-6 py-4 rounded-lg shadow-lg text-center">
  ¡Articulo actualizado correctamente!
</div>

<div *ngIf="mostrarConfirmacionBaja" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-500 text-white px-6 py-4 rounded-lg shadow-lg text-center">
  ¡Articulo Eliminado correctamente!
</div>
