.container-listado {
  margin-top: 30px;
  margin-left:5px;
  padding: 20px;
  display: block;
  background: #f8f9fa;
  border-radius: 10px;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(128, 128, 128, 0.0);
}

.btn-group {
  margin: 0 auto;
}

.acciones {
  text-align: center;
  width: 84px;
}

.input-buscador {
  width: 250px;
  height: 38px; /* un poco más para que encaje bien con Bootstrap */
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
  padding-left: 12px;
}

  .input-buscador::placeholder {
    color: #aaa;
    font-size: 14px;
  }

