<div class="container-listado">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Nombre</th>
          <th scope="col">Stock</th>
          <th scope="col">Precio</th>
          <th scope="col">Marca</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of articulos">
          <th scope="row">{{articulo.categoria.nombre}}</th>
          <td>{{articulo.nombre}}</td>
          <td>{{articulo.stock}}</td>
          <td>{{articulo.precio | currency}}</td>
          <td>{{articulo.marca.nombre}}</td>
          <td class="acciones">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                  <a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvas" (click)="abrirEdicion(articulo)" >
                    Editar
                  </a>
                </li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Borrar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--MODAL-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este artículo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Offcanvas para editar -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Editar Artículo</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="articuloForm" (ngSubmit)="guardarCambios()">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>

      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="number" class="form-control" formControlName="precio">
      </div>

      <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" formControlName="stock">
      </div>

      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" formControlName="categoria">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Marca</label>
        <select class="form-select" formControlName="marca">
          <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
  </div>
</div>
