<div class="container-listado">
  <div class="filters-container">
    <input type="date" style=" width: 130px" [(ngModel)]="filtros.fecha" (input)="filtrarVentas()" placeholder="Fecha">

    <select [(ngModel)]="filtros.local" (change)="filtrarVentas()">
      <option value="">Todos los locales</option>
      <option *ngFor="let loc of local" [value]="loc.id">{{ loc.nombre }}</option>
    </select>

    <select [(ngModel)]="filtros.medioPago" (change)="filtrarVentas()">
      <option value="">Todos los medios</option>
      <option *ngFor="let medio of mediosDePago" [value]="medio.id">{{ medio.nombre }}</option>
    </select>

    <input type="number" style="width: 110px;" [(ngModel)]="filtros.montoMin" (input)="filtrarVentas()" placeholder="$ mínimo">

    <input type="number" style="width: 110px;" [(ngModel)]="filtros.montoMax" (input)="filtrarVentas()" placeholder="$ máximo">

    <input type="number" style="width: 70px;" [(ngModel)]="filtros.numeroVenta" (input)="filtrarVentas()" placeholder="N°">

    <select id="itemsPerPage"
            [(ngModel)]="itemsPerPage"
            (change)="page = 1"
            class="p-2,7 border border-gray-300 rounded bg-white text-gray-800 w-20 text-sm">
      <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
    </select>

    <button (click)="alternarVentas()">
      {{ mostrarAnuladas ? 'Ventas activas' : 'Ventas anuladas' }}
    </button>

    <button (click)="limpiarFiltros()">Limpiar Filtros</button>

    <button (click)="generarPDF()">Obtener Reporte</button>

    <button (click)="generarPdfXubio()">PDF Xubio</button>



  </div>

  <div class="table-container overflow-x-auto">
    <table class="table-auto w-full border border-gray-200 shadow-lg rounded-lg">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th class="px-4 py-2 text-left border-b">N° Venta</th>
          <th class="px-4 py-2 text-left border-b">Fecha</th>
          <th class="px-4 py-2 text-left border-b">Local</th>
          <th class="px-4 py-2 text-left border-b">Total</th>
          <th class="px-4 py-2 text-left border-b">Medio de pago</th>
          <th class="px-4 py-2 text-left border-b">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let venta of ventasFiltradas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }" class="bg-white hover:bg-gray-50">
          <th class="px-4 py-2 border-b">{{ venta.id }}</th>
          <td class="px-4 py-2 border-b">{{ venta.fecha | date:'short' }}</td>
          <td class="px-4 py-2 border-b">{{ venta.nombreLocal }}</td>
          <td class="px-4 py-2 border-b text-green-600 font-semibold">{{ venta.total | currency }}</td>
          <td class="px-4 py-2 border-b">{{ venta.nombreMedioPago }}</td>
          <td class="px-4 py-2 border-b">
            <div class="dropdown">
              <button class="bg-gray-500 text-white px-3 py-1 rounded-lg shadow-md hover:bg-gray-800 dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item hover:bg-gray-100 cursor-pointer"
                     (click)="verDetalleVenta(venta.id)">Ver Detalle</a>
                </li>
                <li *ngIf="!mostrarAnuladas">
                  <a class="dropdown-item text-red-600 hover:bg-gray-100 cursor-pointer"
                     (click)="BajaVenta(venta)">Anular Venta</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"
                         class="mt-4 flex justify-center"
                         previousLabel="Anterior"
                         nextLabel="Siguiente">
    </pagination-controls>
  </div>


  <div *ngIf="mostrarConfirmacion" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-500 text-white px-6 py-4 rounded-lg shadow-lg text-center">
    ¡Venta Anulada correctamente!
  </div>


  <div *ngIf="mostrarCanvas" class="fixed right-0 top-[60px] h-[calc(100vh-60px)] w-[500px] md:w-[550px] bg-white shadow-xl z-500 flex flex-col canvasClass">
    <!-- Encabezado con botón de cierre y fecha -->
    <div class="flex justify-between items-center px-4 pt-4">
      <div>
        <h2 class="text-xl font-bold">Venta #{{ venta.id }}</h2>
      </div>
      <div class="text-sm text-green-600 font-medium">
        {{ venta.fecha | date: 'short' }}
      </div>
      <button (click)="cerrarCanvas()" class="text-gray-500 hover:text-black text-2xl font-bold ml-2">
        ×
      </button>
    </div>

    <!-- Detalles de la venta -->
    <div class="px-4 py-2">
      <div><strong>Medio de pago:</strong> {{ venta.nombreMedioPago }}</div>
      <div><strong>PedidosYa:</strong> {{ venta.esPedidosYa ? 'Sí' : 'No' }}</div>
      <div><strong>Local:</strong> {{ venta.local.nombre }}</div>
    </div>

    <!-- Lista de artículos scrollable -->
    <div class="overflow-y-auto px-4 space-y-3 pb-4" style="max-height: calc(100vh - 60px - 180px);">
      <div *ngFor="let detalle of detalleVenta" class="flex gap-4 p-4 border rounded-lg shadow-sm items-center">
        <img [src]="'https://localhost:44369' + detalle.imagen?.[0]?.url" class="w-20 h-20 object-cover rounded-md" alt="Imagen artículo">
        <div class="flex-1">
          <div class="text-sm font-semibold text-gray-800">
            {{ detalle.nombreArticulo | capitalize}}
          </div>
          <div class="text-xs text-gray-500">
            {{ detalle.precioUnitario | currency }} x {{ detalle.cantidad }}
          </div>
        </div>
        <div class="text-right text-sm">
          <div [ngClass]="{ 'line-through text-gray-400': detalle.precioUnitario - detalle.precioVenta != 0 }">
            {{ (detalle.precioUnitario * detalle.cantidad) | currency }}
          </div>
          <div *ngIf="detalle.precioUnitario - detalle.precioVenta != 0" class="text-green-600 font-semibold">
            {{ ((detalle.precioUnitario * detalle.cantidad) - ((detalle.precioUnitario - detalle.precioVenta) * detalle.cantidad)) | currency }}
          </div>
        </div>
      </div>
    </div>

    <!-- Totales siempre abajo -->
    <div class="mt-auto border-t bg-white px-4 py-3">
      <div class="flex justify-between text-sm mb-1">
        <span>Subtotal:</span>
        <span>{{ venta.subtotal | currency }}</span>
      </div>
      <div class="flex justify-between text-sm mb-1">
        <span>Descuento:</span>
        <span>{{ venta.subtotal - venta.total | currency }}</span>
      </div>
      <div class="flex justify-between font-bold text-base">
        <span>Total:</span>
        <span>{{ venta.total | currency }}</span>
      </div>
    </div>
  </div>
</div>



