<div class="sidebar">
  <h2>FILTROS</h2>

  <div class="filter-section">
    <button class="btn btn-dark toggle-btn"
            (click)="toggleFiltro('fecha')"
            [ngClass]="{'active': filtroActivo === 'fecha'}">
      Fecha
    </button>
    <div class="filter-content" *ngIf="filtroActivo === 'fecha'">
      <input type="date" class="form-control date-input" [(ngModel)]="fechaSeleccionada">
      <button class="btn btn-secondary sub-btn" (click)="aplicarFiltroFecha()">Aplicar</button>
      <button (click)="limpiarFiltro()" class="btn btn-secondary sub-btn limpiar-btn">Limpiar Filtro</button>
    </div>
  </div>

  <div class="filter-section">
    <button class="btn btn-dark toggle-btn"
            (click)="toggleFiltro('pago')"
            [ngClass]="{'active': filtroActivo === 'pago'}">
      Medio de Pago
    </button>
    <div class="filter-content" *ngIf="filtroActivo === 'pago'">
      <button class="btn btn-dark sub-btn"
              (click)="seleccionarMedioPago(1)"
              [ngClass]="{'medio-pago-seleccionado': medioPagoSeleccionado === 1}">
        Efectivo
      </button>
      <button class="btn btn-dark sub-btn"
              (click)="seleccionarMedioPago(2)"
              [ngClass]="{'medio-pago-seleccionado': medioPagoSeleccionado === 2}">
        Débito
      </button>
      <button class="btn btn-dark sub-btn"
              (click)="seleccionarMedioPago(3)"
              [ngClass]="{'medio-pago-seleccionado': medioPagoSeleccionado === 3}">
        Crédito
      </button>
      <button class="btn btn-dark sub-btn"
              (click)="seleccionarMedioPago(4)"
              [ngClass]="{'medio-pago-seleccionado': medioPagoSeleccionado === 4}">
        Mercado Pago
      </button>
      <button (click)="limpiarFiltro()" class="btn btn-secondary sub-btn limpiar-btn">Limpiar Filtro</button>
    </div>
  </div>
</div>
