<!-- carrito-item.component.html -->
<app-modal-aplicar-descuento *ngIf="mostrarModal" (cerrarModal)="cerrarModal()" [articulo]="articulo"></app-modal-aplicar-descuento>
<div class="flex items-center bg-white rounded-xl shadow-md p-2 h-21 mb-1 mt-1 relative">

  <!--Botón modificar-->


  <div class="dropdown top-2 right-7">
    <button class=" text-black text-xxs px-1 rounded" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../../assets/icons/menu-puntos.svg" alt="Icono" width="14" height="14" />
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item hover:bg-gray-100 cursor-pointer" (click)="abrirModalDescuento()" >Aplicar Descuento</a>
      </li>
    </ul>
  </div>



  <!-- Botón Eliminar -->
  <button (click)="eliminarItem()" class="absolute top-2 right-1 text-black text-xs px-1 rounded ">
    <img src="../../../../assets/icons/cruz.svg" alt="Icono" width="14" height="14" />
  </button>

  <!-- Imagen -->
  <img [src]="articulo.articulo.imagen[0].url" alt="{{ articulo.articulo.nombre }}" class="w-12 h-12 object-cover rounded-lg mr-2" />

  <!-- Detalles del Artículo -->
  <div class="flex-1">
    <h6 class="font-medium">{{ articulo.articulo.nombre | capitalize }}</h6>
    <p class="text-gray-500 text-xs">{{ articulo.articulo.precio | currency }}</p>
    <p *ngIf="articulo.montoDescuento > 0" class="text-red-500 text-xxs"> -{{articulo.montoDescuento}} </p>
  </div>

  <!-- Cantidad -->
  <div class="flex items-center space-x-1">
    <button class="bg-gray-200 text-gray-700 p-1 rounded-full hover:bg-gray-300 mr-1" (click)="disminuirCantidad()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
      </svg>
    </button>
    <span class="text-sm m-2">{{ articulo.cantidad }}</span>
    <button class="bg-gray-200 text-gray-700 p-1 rounded-full hover:bg-gray-300 ml-1" (click)="aumentarCantidad()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </button>
  </div>
</div>


<!-- Modal -->

