.container {
  display: flex;
}

/*Clase que ignora el tailwind*/
.all-unset {
  all: initial;
  font-family: var(--bs-font-sans-serif), sans-serif; /* Fuente predeterminada de Bootstrap */
}

.swal2-container {
  z-index: 999999 !important;
  position: fixed;
}
