<div class="container-listado">
  <!-- Contenedor flexible para filtros -->
  <div class="d-flex align-items-center gap-3 mb-3">
    <!-- Filtro de Locales -->
    <div class="w-25">
      <label for="localSelect" class="form-label mb-0">Local:</label>
      <select id="localSelect" class="form-select form-select-sm mt-1" (change)="onLocalChange($event)">
        <option *ngFor="let local of locales" [value]="local.id">
          {{ local.nombre }}
        </option>
      </select>
    </div>

    <!-- Input de búsqueda -->
    <div class="flex-grow-1">
      <label for="searchInput" class="form-label mb-0">Buscar Artículo:</label>
      <input id="searchInput" type="text" class="form-control form-control-sm mt-1"
             placeholder="Ingrese el nombre del artículo..." [(ngModel)]="searchTerm">
    </div>

    <button class="btn btn-primary btn-sm mt-4" (click)="toggleOrden()">
      <span *ngIf="ordenDescendente">🔽</span><span *ngIf="!ordenDescendente">🔼</span>
    </button>
  </div>

  <div class="table-container overflow-x-auto">
    <table class="table-auto w-full border border-gray-200 shadow-lg rounded-lg">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th class="px-4 py-2 text-left border-b">Nombre del Artículo</th>
          <th class="px-4 py-2 text-left border-b">Categoria</th>
          <th class="px-4 py-2 text-left border-b">Cantidad</th>
          <th class="px-4 py-2 text-left border-b">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let item of filteredStock()" class="bg-white hover:bg-gray-50">
          <td class="px-4 py-2 border-b">{{ item.nombreArt }}</td>
          <td class="px-4 py-2 border-b">{{  item.categoriaNombre }}</td>
          <td class="px-4 py-2 border-b">{{ item.cantidad }}</td>
          <td class="px-4 py-2 border-b">
            <div class="dropdown">
              <button class="bg-gray-500 text-white px-3 py-1 rounded-lg shadow-md hover:bg-gray-800 dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item hover:bg-gray-100 cursor-pointer"
                     data-bs-toggle="offcanvas" href="#offcanvas">
                    Editar
                  </a>
                </li>
                <li>
                  <a class="dropdown-item text-red-600 hover:bg-gray-100 cursor-pointer"
                     data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    Borrar
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
