<div class="container-listado">
  <!-- Filtro de Local -->
  <div class="mb-3">
    <label for="localSelect" class="form-label">Seleccionar Local:</label>
    <select id="localSelect" class="form-select" (change)="onLocalChange($event)">
      <option *ngFor="let local of locales" [value]="local.id" [selected]="local.id === idLocal">
        {{ local.nombre }}
      </option>
    </select>
  </div>

  <!-- Tabla de Stocks -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Stock</th>
          <th scope="col">ID Local</th>
          <th scope="col">Nombre del Artículo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stock">
          <td>{{ item.iD_Stock }}</td>
          <td>{{ item.iD_Local }}</td>
          <td>{{ item.nombreArt }}</td>
          <td>{{ item.cantidad }}</td>
          <td class="acciones">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvas"> Editar </a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Borrar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
