<div class="carrito-contenedor">
  <div class="carrito">
      <h2>CARRITO</h2>
    <app-carrito-item *ngFor="let articulo of carrito"
                      [nombre]="articulo.articulo.nombre"
                      [precio]="articulo.articulo.precio"
                      [cantidad]="articulo.cantidad"
                      [imagenUrl]="articulo.articulo.imagen[0].url">
    </app-carrito-item>
  </div>
  <div class="carrito-footer">
    <h3>Total: {{totalCarrito | currency}}</h3>
    <button>Finalizar compra</button>
  </div>
</div>
