<div class="nueva-venta-container">
  <app-carrito [abrirModal]="abrirModal.bind(this)"></app-carrito>
  <app-lista-productos></app-lista-productos>
</div>

<!-- Modal Checkout -->
<ng-container *ngIf="mostrarModal">
  <div class="modal-container">
    <div class="modal-overlay"></div>
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Checkout</h2>
        <button (click)="cerrarModal()" class="close-button">✕</button>
      </div>

      <div class="modal-body">
        <!-- Contact Information -->
        <div class="contact-info">
          <h3>Medio de pago</h3>
          <div class="w-64">
            <!--<label for="metodoPago" class="block text-sm font-medium text-gray-700 mb-2">Método de pago</label>-->
            <select id="metodoPago" name="metodoPago" class="block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
              <option value="" disabled selected>Seleccioná un medio</option>
              <option *ngFor="let medioDePago of mediosDePago" [value]="medioDePago.id">
                {{ medioDePago.nombre }}
              </option>
            </select>
          </div>




          <!-- Shipping Details -->
          <div class="flex items-center mt-4">
            <label for="pedidoYa" class="mr-3 text-sm font-medium text-gray-700">Pedidos Ya</label>
            <input type="checkbox"
                   id="pedidoYa"
                   class="toggle-checkbox hidden"
                   [(ngModel)]="pedidoYa" />
            <label for="pedidoYa" class="toggle-label block w-12 h-6 rounded-full bg-gray-300 cursor-pointer relative">
              <span class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full shadow transition-transform duration-300"></span>
            </label>
          </div>

          <style>
            .toggle-checkbox:checked + .toggle-label {
              background-color: #4ade80; /* Verde */
            }

              .toggle-checkbox:checked + .toggle-label span {
                transform: translateX(1.5rem);
              }
          </style>

          <div class="w-64 mt-4">
            <label class="block text-sm font-medium text-gray-700 mb-2">Descuento</label>
            <div class="flex items-center gap-2">
              <select [(ngModel)]="tipoDescuento"
                      (change)="aplicarDescuento()"
                      class="w-1/2 p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500">
                <option value="porcentaje">%</option>
                <option value="monto">Monto fijo</option>
              </select>

              <input type="number"
                     [(ngModel)]="descuento"
                     (input)="aplicarDescuento()"
                     class="w-1/2 p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500"
                     placeholder="0"
                     min="0" />
            </div>
          </div>

        </div>

        <!-- Order Summary -->
        <div class="max-h-46 overflow-y-auto">
          <div class="order-summary">
            <h3>Carrito</h3>
            <app-modal-carrito-item *ngFor="let articulo of carrito"
                                    [articulo]="articulo"
                                    (actualizarData)="abrirModal()">
            </app-modal-carrito-item>
          </div>
        </div>
      </div>

      <!-- Resumen fijo abajo a la derecha -->
      <div class="border-t pt-3 resumen">
        <h3 class="text-lg font-semibold">Resumen</h3>
        <div class="flex justify-between">
          <span>Total sin descuentos: </span>
          <span>{{totalCarrito | currency}}</span>
        </div>
        <div class="flex justify-between">
          <span>Descuento: </span>
          <span>{{montoDescuento | currency}}</span>
        </div>
        <div class="flex justify-between font-bold">
          <span>Total: </span>
          <span><b>{{totalConDescuento | currency}}</b></span>
        </div>
      </div>


      <button class="payment-button" (click)="guardarVenta()">
        Guardar
      </button>
    </div>
  </div>
</ng-container>

<!-- Toast de éxito -->
<div *ngIf="mostrarToast"
     id="toast-success"
     class="fixed top-20 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-sm dark:text-gray-400 dark:bg-gray-800 transition-opacity duration-300 opacity-100"
     role="alert">
  <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
    <svg class="w-5 h-5"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         fill="currentColor"
         viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
    </svg>
    <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">Venta agregada con éxito.</div>
  <button type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          (click)="cerrarToast()">
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 14 14">
      <path stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
  </button>
</div>
