/* Estilo para el modal */
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-white {
  background-color: #fff;
}

/* Añadir flexbox a la contención principal sin afectar el modal */
.nueva-venta-container {
  display: flex;
  position: relative; /* Esto asegura que el modal no se vea restringido por este contenedor */
}
