<div class="container-listado">


  <div class="table-container overflow-x-auto">
    <table class="table-auto w-full border border-gray-200 shadow-lg rounded-lg">
      <thead class="bg-gray-100 text-gray-700">
        <tr>
          <th class="px-4 py-2 text-left border-b">Nombre Completo</th>
          <th class="px-4 py-2 text-left border-b">Cargo</th>
          <th class="px-4 py-2 text-left border-b">Local</th>
          <th class="px-4 py-2 text-left border-b">Nombre Usuario</th>
          <th class="px-4 py-2 text-left border-b">Correo</th>
          <th class="px-4 py-2 text-left border-b">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let usuario of usuarios" class="bg-white hover:bg-gray-50">
          <td class="px-4 py-2 border-b">{{ usuario.nombreCompleto }}</td>
          <td class="px-4 py-2 border-b">{{ getNombreTipoUsuario(usuario)}}</td>
          <td class="px-4 py-2 border-b">{{ usuario.nombreLocal }}</td>
          <td class="px-4 py-2 border-b">{{ usuario.nombreUsuario }}</td>
          <td class="px-4 py-2 border-b">{{ usuario.correoElectronico }}</td>
          <td class="px-4 py-2 border-b">
            <div class="dropdown">
              <button class="bg-gray-500 text-white px-3 py-1 rounded-lg shadow-md hover:bg-gray-800 dropdown-toggle"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item hover:bg-gray-100 cursor-pointer"
                     data-bs-toggle="offcanvas" href="#offcanvasUsuario" (click)="abrirEdicion(usuario)">
                    Editar
                  </a>
                </li>
                <li>
                  <a class="dropdown-item text-red-600 hover:bg-gray-100 cursor-pointer"
                     (click)="BajaUsuario(usuario.iD_Usuario)">
                    Eliminar
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- canvas -->
<!-- Offcanvas para editar Usuario -->
<div *ngIf="mostrarCanvas" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUsuario">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Editar Usuario</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="usuarioForm">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombreCompleto">
      </div>

      <div class="mb-3">
        <label class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" formControlName="correoElectronico">
      </div>

      <div class="mb-3">
        <label class="form-label">Cargo</label>
        <select class="form-select" formControlName="tipoUsuario">
          <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Local</label>
        <select class="form-select" formControlName="iD_Local">
          <option *ngFor="let loc of local" [value]="loc.id">{{ loc.nombre }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-success" (click)="guardarCambios()">Guardar Cambios</button>

    </form>
  </div>
</div>

