<div class="container-listado">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Usuario</th>
          <th scope="col">Cargo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th> 
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">--</th>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>

